body {
  margin: 0;
  padding: 0;
  background-image: url(/static/img/PTD.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  align-items: center;
}

.box {
  background-color: rgb(205, 135, 248, 0.3);
  border-radius: 10px;
  margin: 20px auto;
  max-width: 500px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  padding: 20px 40px;
}

.box h1 {
  margin: 5px auto;
  padding: 5px;
  color: #fff;
  text-align: center;
}

.box .inputBox label {
  color: #fff;
  font-size: 20px;
  font-weight: 450;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.box .inputBox input {
  border: 3px;
  border-radius: 9px;
  color: black;
  font-size: 18px;
  letter-spacing: 2px;
  margin: 20px auto;
  outline: none;
  padding: 8px;
  width: 100%;
}

.button {
  font-family: sans-serif;
  background-color: rgb(205, 135, 248, 0.8);

  font-size: 15px;
  border: 10px;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  padding: 10px;
  letter-spacing: 2px;
  margin: 2px 20px 2px 3px;
}

.button:hover {
  cursor: pointer;
  background: white;
  color: rgb(205, 135, 248, 0.8);
}
.click {
  margin: 20px;
}
.click a {
  margin: 10px auto;
  text-decoration: none;
  color: #fff8e8;
  transition: 200ms;
  font-size: 15px;
  font-weight: 600;
}
.click a:hover {
  color: black;
  font-size: 18px;
}

.error {
  text-align: center;
  background-color: rgb(255, 241, 118);
  height: auto;
  border: 3px;
  border-radius: 9px;
  color: black;
  font-size: 20px;
  font-weight: 450;
  letter-spacing: 2px;
  margin: 20px auto;
  outline: none;
  padding: 8px;
  width: 100%;
}
